.main {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputter {
  margin: 100px auto;
  width: 420px;
  height: 360px;
  background-color: #ecf0f1;
}

.line {
  position: relative;
  display: block;
  line-height: 90px;
  height: 90px;
}

.num-button {
  vertical-align: middle;
  width: 33.3%;
  height: 100%;
}
